<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="assets/style.css?v=2">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>

    <div id="cbwrap">
        <h1 id="cbtitle">CRUD</h1>
        <table id="demo" class="editable">
          <thead>
            <tr>
              <th>Creator</th>
              <th>Title</th>
              <th>Text</th>
              <th>Tag</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Job Doe</td>
              <td>Morning</td>
              <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, nihil omnis? Veritatis vel fugiat ipsam earum </td>
              <td>Male</td>
            </tr>
            <tr>
              <td>Joe Doe</td>
              <td>joe@doe.com</td>
              <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, nihil omnis? Veritatis vel fugiat ipsam earum </td>
              <td>Male</td>
            </tr>
            <tr>
              <td>Joi Doe</td>
              <td>joi@doe.com</td>
              <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, nihil omnis? Veritatis vel fugiat ipsam earum </td>
              <td>Male</td>
            </tr>
            <tr>
              <td>Jon Doe</td>
              <td>jon@doe.com</td>
              <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, nihil omnis? Veritatis vel fugiat ipsam earum </td>
              <td>Male</td>
            </tr>
            <tr>
              <td>Joy Doe</td>
              <td>joy@doe.com</td>
              <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, nihil omnis? Veritatis vel fugiat ipsam earum </td>
              <td>Male</td>
            </tr>
          </tbody>
        </table>
      </div>
</body>


<script src="assets/script.js"></script>
</html>