<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="assets/style.css?v=2">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <div class="tables">
        <div class="tbl" id="table-list">
            
        </div>
    </div>
    <div id="cbwrap">
        <h1 id="cbtitle">Editable Table</h1>
        <table id="demo" class="editable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Job Doe</td>
              <td>job@doe.com</td>
            </tr>
            <tr>
              <td>Joe Doe</td>
              <td>joe@doe.com</td>
            </tr>
            <tr>
              <td>Joi Doe</td>
              <td>joi@doe.com</td>
            </tr>
            <tr>
              <td>Jon Doe</td>
              <td>jon@doe.com</td>
            </tr>
            <tr>
              <td>Joy Doe</td>
              <td>joy@doe.com</td>
            </tr>
          </tbody>
        </table>
      </div>
</body>


<script src="assets/script.js"></script>
</html>